* {
  overflow: hidden;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#world {
  flex-grow: 1;
  border: 0.1rem solid var(--vscode-editor-foreground);
  box-sizing: border-box;
}

#frame {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#combo-bg,
#combo-fg {
  height: 1.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

#combo-bg {
  border: 0.1rem solid var(--vscode-editor-foreground);
  background: var(--vscode-editor-background);
}

#combo-fg {
  position: absolute;
  background: var(--vscode-editor-foreground);
}

#log {
  font-family: monospace;
  overflow-y: scroll;
  height: 8lh;
}

#log p {
  margin: 0;
}

text {
  fill: var(--vscode-editor-foreground);
  stroke: none;
  font-family: monospace;
}

.star {
  box-sizing: border-box;
}

rect.star {
  fill: var(--vscode-editor-background);
  stroke: var(--vscode-editor-foreground);
  rx: 5;
  ry: 5;
}

text {
  text-anchor: middle;
  dominant-baseline: central;
}

.star.dying {
  animation: bullet-death 0.5s ease-out;
}

@keyframes bullet-death {
  0% {
    opacity: 1;
    scale: 1;
  }
  25% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    scale: 1.5;
  }
}

polygon#achiever {
  fill: var(--vscode-editor-foreground);
  stroke: none;
}

#achiever.suffering {
  animation: achiever-suffer 0.5s ease-out;
}

@keyframes achiever-suffer {
  0% {
    fill: red;
  }
}

circle#hitbox {
  fill: var(--vscode-editor-background);
  stroke: var(--vscode-editor-foreground);
}

circle.bullet {
  fill: var(--vscode-editor-foreground);
  stroke: none;
}

circle.point {
  fill: var(--vscode-editor-foreground);
  stroke: none;
}

text#tell {
  text-anchor: start;
  dominant-baseline: auto;
}

text#fps {
  text-anchor: end;
  dominant-baseline: auto;
}

.unmoving {
  fill: green;
}
